/* Mobile */

@media (max-width: 739px )
{   
    .s-full-width, .s-col-full {
        width: 100% !important;
    }
    
    #header {
        
            overflow: hidden;
        }
    
    .s-mt8 {
        margin-top: 8px !important;
    }
    #nav {
    display: block;
    }
    #nav > li {
        display: block;
    }
    #nav li a {
        padding: 1px 24px;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
        padding: 5px 41px;
    }
    #nav .subnav a {
        color: #fff;
    }
    #header .mobile-menu-btn {
        display: block;
    }
    #header .search-btn {
        display: none;
    }
    
    #content .member-img {
        width: 60%;
    }
    .contact-form {
       margin-top: 32px;
    }
}
/* tablet & mobile */
@media (max-width: 1023px) {
    .btn {
        padding: 15px 16px;
    }
    #nav .subnav a {
        padding: 5px 12px;
    }
    .contact-form .form-control {
        padding: 15px;
    }
    
    .social-list {
        font-size: 48px;
        
    }
    #footer .social-list a {
        margin: 0 8px;
    }
    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
    .contact-info {
        line-height: 2;
    }
   

}
/* tablet */

