/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* 
    1. Từ ngoài vào trong
    2. Từ trên xuống dưới
    3. Từ tổng quan đến chi tết
 */
/* 
    1. Vị trí
    2. Kích thước
    3. Màu sắc
    4. Kiểu dáng
*/
.mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
}
.mt-32 {
    margin-top: 32 !important;
}
.text-center {
    text-align: center !important;
}
.clear-fix:after {
    clear: both;
    content: "";
    display: block;
}
.text-white {
    color: #fff  !important;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.col-full {
    width: 100%;
}
.col {
    float: left;
    padding: 0 8px;
}
.col-3 {
    width: 33.33333%;
}
.col-2 {
    width: 50%;
}
.btn {
    background: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}
.pull-right {
    float: right !important;
}
.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
#main {

}


#header {
    height: 46.400px;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
}
#nav {
    display: inline-block;
}
#nav, .subnav {
    list-style: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
} 
#nav li  a {
    text-decoration: none;
    
    line-height: 46.400px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav {
    display: block;
}
#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    min-width: 160px;
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,  0 , 0, 0.3);
}
#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav .nav-arrow-down {
    font-size: 14px;
}
#header .mobile-menu-btn {
    position: absolute;
    top: 0px;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    
    padding: 0px 21px;
}
#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46.400px;
    
}

#header .search-btn:hover {
    color: #fff;
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
    
}
#slider  {
    position: relative;
    margin-top: 46.400px;
    padding-top: 50%;
    background: url('../img/slider/1.jpg') top center / cover no-repeat;
    animation: slide 20s infinite;
}
@keyframes slide{
    25% {
        background: url('../img/slider/2.jpg') top center / cover no-repeat;
    }
    50% {
        background: url('../img/slider/3.jpg') top center / cover no-repeat;
    }
    
}
#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
    
}

#slider .text-desc {
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px #000;
}

#content {
    
}
#content .content-section {
    width:  800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    
}
#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin: 25px 0;
    font-style: italic;
    opacity: 0.6;
}


#content .about-text {
    text-align: justify;
    line-height: 1.5;
}

#content .member-list {
    margin-top: 32px;
    
}

#content .member-item {
   
   text-align: center;
}
#content .member-name {
    font-size: 15px;
   
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/* Tour section */
.tour-section {
    background-color: #000;
}
.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 22px;
    height: 22px;
    background-color: #000;
    text-align: center;
    color: #fff;
    line-height: 22px;
    border-radius: 50%;
    margin-top: -2px;
}
.places-list {
    margin-top: 16px;
}

.place-img {
    width: 100%;
    display: block;
    
}
.place-img:hover {
    
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: bolder;
}

.place-time {
    margin-top: 15px;  
    opacity: 0.60;  
}

.place-desc {
    margin-top: 15px;
    line-height: 1.5;
}


.contact-content {
    margin-top: 40px;
}
.contact-info {
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-form {
    font-size: 15px;
}
.contact-form .form-control {
    padding: 10px;
    
    width: 100%;
    
}
.map-section img {
    width: 100%;
    filter: grayscale(50%);

}
#footer {
    padding: 64px 16px;
    text-align: center;
}
#footer .social-list {
    font-size: 22px;
   
}
#footer .social-list a {
    text-decoration: none;
    color: rgba(26, 2, 2, 0.7);
}
#footer .copyright a:hover,
#footer .social-list a:hover {
    opacity: 0.6;
}
#footer .copyright {
    margin-top: 15px;
    color: rgba(0,  0 , 0, 0.7);
    font-size: 15px;
}
#footer .copyright a {
    color: rgba(0,  0 , 0, 0.7);
    font-size: 15px;
}
